<%- include("header"); -%>

<div class="post">

  <nav class="home-nav">
    <a href="/"><h3>iRent</h3></a> 
  </nav>

  <div class="card-post" style="width: 18rem;">

    <h6>Name: <%=name%></h6>
    <h6>Email: <%=email%></h6>
    <h6>Phone: <%=phone%></h6>
    <h6>House Type: <%=house%></h6>
    <h6>Location: <%=location%></h6>

  </div>

  <button class="button-17 post-back"><a href="/renthome">Back</a></button>

</div>

<%- include("footer"); -%>
